---
layout: page
title: "Articles"
description: "Tulusad artiklid tulevad siia"
header-img: "img/about-bg.jpg"
header-mask: 0.3
multilingual: true
---

{% include multilingual-sel.html %}

{% for art in site.articles %}
    <div class="post-preview">
        <a href="{{ art.url | prepend: site.baseurl }}">
            <h2 class="post-title">
                {{ art.title }}
            </h2>
            {% if art.subtitle %}
            <h3 class="post-subtitle">
                {{ art.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content-preview">
                {% if art.lang == 'en' %}
                    {{ art.content | strip_html | truncate:300 }}
                {% else %}
                    {{ art.content | strip_html | truncate:200 }}
                {% endif %}
            </div>
        </a>
    </div>
{% endfor %}

